{% extends "layout.html" %}
{% block body %}

    <form action="{{ url_for('add_job') }}" method="post" class="add-entry">
  <table>
      <thead>
          <tr><th>Day of week</th><th>Hour</th><th>Minute</th><th>Msg</th><th></th></td>
      </thead>
      <tbody>
    <tr>
        <td><input name="day_of_week" /></td>
        <td><input name="hour" /></td>
        <td><input name="minute" /></td>
        <td><input name="msg" /></td>
        <td><input type="submit" value="Add job" /></td>

        </tr>
      </tbody>
  </table>

    </form>
  <table>
      <thead>
          <tr><th>Day of week</th><th>Hour</th><th>Minute</th><th>Msg</th></td>
      </thead>
    {% for job in jobs %}
        <tr>
            <td>{{ job.day_of_week }}</td>
            <td>{{ job.hour }}</td>
            <td>{{ job.minute }}</td>
            <td>{{ job.msg }}</td>
        </tr>
  {% else %}
    <li><em>Unbelievable. No jobs here so far</em>
  {% endfor %}
  </table>
{% endblock %}

